<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie ie6" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"><!--<![endif]-->

<head>
    
    <!-- Your Basic Site Informations -->
    <title>Soonsite Responsive Launch Landing Page</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="Soonsite is a premium launch landing page that built-in fully responsive template, professional design, elegant style and have a slew of features." />
    <meta name="keywords" content="Landing Page, One Page Template, Premium Design, Responsive Template, Launch Landing Page, Launch Template, Coming Soon, Elegant Style, PSD, HTML5, CSS3, jQuery" />
    <meta name="author" content="Affapress" />
    
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" type="text/css">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    <link rel="stylesheet" href="css/flexslider.css">
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Custom Colors -->
    <!--<link rel="stylesheet" href="css/colors/blue.css">-->
    <!--<link rel="stylesheet" href="css/colors/green.css">-->
    <!--<link rel="stylesheet" href="css/colors/pink.css">-->
    <!--<link rel="stylesheet" href="css/colors/purple.css">-->
    <!--<link rel="stylesheet" href="css/colors/yellow.css">-->
    
    <!--[if lt IE 9]>
    	<script src="js/html5.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
    
    <!--[if lt IE 8]>
    	<link rel="stylesheet" href="css/ie-older.css">
    <![endif]-->
    
    <noscript><link rel="stylesheet" href="css/no-js.css"></noscript>
    
    <!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    
</head>
<body>
    
    <!-- #header -->
    <header id="header" data-parallax="scroll" data-speed="0.2" data-natural-width="1920" data-natural-height="1080" data-image-src="images/content/bg/11.jpg">
        
        <!-- .header-overlay -->
        <div class="header-overlay">
            
            <!-- #navigation -->
            <nav id="navigation" class="navbar">
                
                <!-- .container -->
                <div class="container">
                    
                    <div class="navbar-brand">
                        <a href="index.html"><img src="images/logo.png" alt="Logo" /></a> <!-- site logo -->
                    </div>
                    
                    <ul class="nav navbar-nav">
                        <li><a href="index.html" class="smooth-scroll">Home</a></li>
                        <li class=""><a href="index.html">Business</a></li>
                        <li class=""><a href="page2.html">Driver</a></li>
                    </ul>
                    
                </div>
                <!-- .container end -->
                
            </nav>
            <!-- #navigation end -->
            
            <!-- .header-content -->
            <div class="header-content header-page-content">
                
                <div class="container">
                	<div class="header-heading-title">
                    	<h1>About Us</h1>
                    </div>
                </div>
                
            </div>
            <!-- .header-content end -->
            
        </div>
        <!-- .header-overlay -->
        
    </header>
    <!-- #header end -->
    
    <!-- .container -->
    <div class="container wrap-container60">
    	
        <!-- .row -->
        <div class="row">
        	
            <div class="col-sm-6">
            	<h4>Ready when you need it moved now</h4>
                <p>MoversPro is the first app-based platform in the UK to provide on-demand goods transportation. We connect customers with the nearest professional, fully insured drivers to them. We aim to be the most efficient logistics provider globally, matching customers with drivers in the shortest times, and giving full transparency for the customers to track the status of their move live.</p>
            </div>
            
            <div class="col-sm-6">
            	<h4>So why did we build it?</h4>
                <p>We started MoversPro after seeing the frustration and trouble customers were having in getting reliable and cheap, last minute logistics solutions. We saw the moving market in need of disruption and have worked hard over the past 5 years developing the best solution to give you the cheapest prices, and the quickest, most reliable and trustworthy service that you can track fully online.</p>
            </div>
            
        </div>
        <!-- .row end -->
        
        <!-- .wrap-container -->
  
        <!-- .wrap-container end -->
        
    
        <!-- .row end -->
        
    </div>
    <!-- .container end -->
    
    <!-- #bottom -->
    <!-- #bottom end -->
    
    <!-- #footer -->
    <footer id="footer">
    	
        <!-- .container -->
        <div class="container">
            
            <div class="footer_socials">
                <a href="#" class="link-twitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="link-instagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                <a href="#" class="link-google-plus" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="link-facebook" title="Facebook"><i class="fa fa-facebook"></i></a>
            </div>
            
            <p>&copy; 2015 by Affapress. All rights reserved.</p>
            
        </div>
        <!-- .container end -->
        
    </footer>
    <!-- #footer end -->
    
    <!--[if lt IE 8]>
    	<div class="browser-notice">
            <div class="container">
            	<div class="text">
                    <h1>Internet Explorer Out To Date</h1>
                    <p>Please update your Internet Explorer browser with a newer version (Internet Explorer 8 above) now!</p>
                    <span>You can download it <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="blank">here....</a></span>
                </div>
            </div>
        </div>
	<![endif]-->
    
    <!-- JavaScripts -->
	<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/response.min.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.min.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="js/jquery.imgpreload.min.js"></script>
	<script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="js/parallax.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
    
</body>
</html>