<div id="oauth-window" tabindex="-1" role="dialog" class="modal fade colored-header">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Tdispatch Oauth</h3>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div id="o-auth-window" class="spacer xs-mt-15 xs-mb-15">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary">Proceed</button>
                </div>
            </div>
        </div>
    </div>
</div>
