<div class="am-content">
        <div class="main-content">
          <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->

          <!--Upcoming Bookings-->
               <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                    <a href="#/upcomingjobspage" class="pull-right">View All</a>
                  <div class="title"><strong>Upcoming Jobs</strong></div>
                </div>
                <table class="table table-fw-widget">
                  <thead>
                    <tr>
                      <th width="50%">Job</th>
                      <th width="10%">Date</th>
                      <th class="number">Address</th>
                      <th class="number">Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Piping Project</td>
                      <td>15/08/2015</td>
                      <td class="number">Lombard Road</td>
                      <td class="number">£260</td>
                    </tr>
                    <tr>
                      <td>Chocolate Package</td>
                      <td>13/08/2015</td>
                      <td class="number">8 Sharpland</td>
                      <td class="number">£52ph</td>
                    </tr>
                    <tr>
                      <td>Piping equipment</td>
                      <td>20/08/2015</td>
                      <td class="number">2 Dairy Farm</td>
                      <td class="number">£700</td>
                    </tr>
                    <tr>
                      <td>Mike Smith</td>
                      <td>10/09/2015</td>
                      <td class="number">8 sharpland</td>
                      <td class="number">£96</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Upcoming Bookings End Here-->

            <!--Saved Quotes-->
               <div class="col-sm-6">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                    <a href="#/savedquotespage" class="pull-right">View All</a>
                  <div class="title"><strong></stron>Saved Quotes</strong></div>
                </div>
                <table class="table table-fw-widget">
                  <thead>
                    <tr>
                      <th width="50%">Job</th>
                      <th width="10%">Date</th>
                      <th class="number">Address</th>
                      <th class="number">Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Piping Project</td>
                      <td>15/08/2015</td>
                      <td class="number">Lombard Road</td>
                      <td class="number">£260</td>
                    </tr>
                    <tr>
                      <td>Chocolate Package</td>
                      <td>13/08/2015</td>
                      <td class="number">8 Sharpland</td>
                      <td class="number">£52ph</td>
                    </tr>
                    <tr>
                      <td>Piping equipment</td>
                      <td>20/08/2015</td>
                      <td class="number">2 Dairy Farm</td>
                      <td class="number">£700</td>
                    </tr>
                    <tr>
                      <td>Mike Smith</td>
                      <td>10/09/2015</td>
                      <td class="number">8 sharpland</td>
                      <td class="number">£96</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- future Bookings End Here-->
            <!--Completed Projects-->
               <div class="col-sm-6">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                    <a href="#/completedjobspage" class="pull-right">View All</a>
                  <div class="title"><strong>Completed Jobs</strong></div>
                </div>
                <table class="table table-fw-widget">
                  <thead>
                    <tr>
                      <th width="50%">Job</th>
                      <th width="10%">Date</th>
                      <th class="number">Address</th>
                      <th class="number">Rate</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Piping Project</td>
                      <td>15/08/2015</td>
                      <td class="number">Lombard Road</td>
                      <td class="number">£260</td>
                    </tr>
                    <tr>
                      <td>Chocolate Package</td>
                      <td>13/08/2015</td>
                      <td class="number">8 Sharpland</td>
                      <td class="number">£52ph</td>
                    </tr>
                    <tr>
                      <td>Piping equipment</td>
                      <td>20/08/2015</td>
                      <td class="number">2 Dairy Farm</td>
                      <td class="number">£700</td>
                    </tr>
                    <tr>
                      <td>Mike Smith</td>
                      <td>10/09/2015</td>
                      <td class="number">8 sharpland</td>
                      <td class="number">£96</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- Completed Projects End Here-->

        </div>
      </div>
