<!--Main contents starts here-->
<div class="container">
<div class="main-content">
  <!--+general-chart("classes", "title", "height", "id", "counter value", "counter desc", tools enabled (use true or false))-->
<div class="row">    
<div class="user-profile col-md-7 col-sm-12 col-md-offset-2">
                <div class=" info-block panel panel-default">
                    <div class="panel-heading">
                    <h4>Card Details</h4>
                  </div>
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                         <tr>
                          <td class="item">Card Type:<span class="icon s7-credit"></span></td>
                          <td> <div class="col-md-10"> <select class="form-control">
                          <option>Visa</option>
                          <option>Master Card</option>
                          <option>American Expess</option>
                          <option>Maesto</option>
                              </select> </div> </td>
                        </tr>
                        <tr>
                          <td class="item">Card Number:<span class="icon s7-lock"></span></td>
                          <td> <div class="col-md-10"> <input data-parsley-equalto="#pass1" type="password" required="" placeholder="Password" class="form-control"> </div> </td>
                        </tr>
                        <tr>
                          <td class="item">Expiry Date:<span class="icon s7-date"></span></td>
                          <td> <div class="row no-margin-y col-md-12">
                          <div class="form-group col-xs-3">
                            <input type="name" placeholder="DD" class="form-control">
                          </div>
                          <div class="form-group col-xs-3">
                            <input type="name" placeholder="MM" class="form-control">
                          </div>
                          <div class="form-group col-xs-3">
                            <input type="name" placeholder="YYYY" class="form-control">
                          </div>
                        </div> </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                  </div>
</div>
    
<div class="user-profile col-md-7 col-sm-12 col-md-offset-2 ">
                <div class=" info-block panel panel-default">
                    <div class="panel-heading">
                    <h4>Billing Information</h4>
                  </div>
                    <table class="no-border no-strip skills">
                      <tbody class="no-border-x no-border-y">
                         <tr>
                          <td class="item">Name:<span class="icon s7-user"></span></td>
                             <td><div class="col-md-10"> <input data-parsley-equalto="#pass1" type="password" required="" placeholder="First Name" class="form-control"> </div> </td>
                        </tr>
                        <tr>
                          <td class="item">Address Line 1:<span class="icon s7-map-marker"></span></td>
                            <td> <div class="col-md-10"> <input data-parsley-equalto="#pass1" type="password" required="" placeholder="Address Line 1" class="form-control"> </div> </td>
                        </tr>
                        <tr>
                          <td class="item">Town/City:<span class="icon s7-map-marker"></span></td>
                            <td> <div class="col-md-10"> <input data-parsley-equalto="#pass1" type="password" required="" placeholder="Town/City" class="form-control"> </div> </td>
                        </tr>
                        <tr>
                          <td class="item">Postcode:<span class="icon s7-map-marker"></span></td>
                            <td> <div class="col-md-10"> <input data-parsley-equalto="#pass1" type="password" required="" placeholder="Postcode" class="form-control"> </div> </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                  </div>
</div>

</div>
    </div>
<!--Main contents ends here-->
</div>