
      <div class="am-content">
        <div class="main-content">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6">
                            <div class="widget widget-tile">
                              <div class="data-info">
                                <div data-toggle="counter" data-end="18.6" data-decimals="1" data-suffix="%" class="value">{{users}}</div>
                                <div class="desc">Users signed up</div>
                              </div>
                              <div class="icon"><span class="s7-smile"></span></div>
                            </div>
                </div>
                <div class="col-md-6">
                            <div class="widget widget-tile">
                              <div class="data-info">
                                <div data-toggle="counter" data-end="33" data-suffix="%" class="value">{{drivers}}</div>
                                <div class="desc">Drivers signed up</div>
                              </div>
                              <div class="icon"><span class="s7-id"></span></div>
                            </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                            <div class="widget widget-tile">
                              <div class="data-info">
                                <div data-toggle="counter" data-end="156" class="value">16</div>
                                <div class="desc">Open Tickets</div>
                              </div>
                              <div class="icon"><span class="s7-mail"></span></div>
                            </div>
                </div>
                <div class="col-md-6">
                            <div class="widget widget-tile">
                              <div class="data-info">
                                <div data-toggle="counter" data-end="156" class="value">76</div>
                                <div class="desc">Live Jobs</div>
                              </div>
                              <div class="icon"><span class="s7-monitor"></span></div>
                            </div>
                </div>
              </div>
            <div class="row">
                <div class="col-md-6">
                            <div class="widget widget-tile">
                              <div class="data-info">
                                <div data-toggle="counter" data-decimals="1" data-end="7.5" data-suffix="K" class="value">150</div>
                                <div class="desc">Jobs today</div>
                              </div>
                              <div class="icon"><span class="s7-date"></span></div>
                            </div>
                </div>
                <div class="col-md-6">
                            <div class="widget widget-tile">
                              <div class="data-info">
                                <div data-toggle="counter" data-decimals="1" data-end="7.5" data-suffix="K" class="value">20</div>
                                <div class="desc">Todays Completed Jobs</div>
                              </div>
                              <div class="icon"><span class="s7-like2"></span></div>
                            </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="widget widget-tile widget-tile-wide">
                    <div class="tile-info">
                      <div class="icon"><span class="s7-cash"></span></div>
                      <div class="data-info">
                        <div class="title">Total Sales</div>
                        <div class="desc">Annual sales number</div>
                      </div>
                    </div>
                    <div class="tile-value"><span data-toggle="counter" data-decimals="2" data-end="28458" data-prefix="$">$450694</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>